__pycache__/
*.pyc
.pytest_cache/
.coverage
.coverage*
.hypothesis/
htmlcov/
coverage.xml
coverage.json
.venv/
venv/
.idea/
.vscode/
.DS_Store
Сборники индивидуальных вариантов практического задания №1. ИКБО-71-24.pdf
